name: Flask CI/CD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Create virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Print debugging information
        run: |
          echo "Python Version: $(python --version)"
          echo "Working Directory: $(pwd)"
          echo "Contents of Working Directory: $(ls -l)"
          echo "Contents of site-packages: $(ls -l venv/lib/python*/site-packages)"

      - name: Run tests
        run: python test_hello.py

      - name: List files
        run: |
          echo "Contents of Working Directory: $(ls -l)"
 
      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: flask-app-artifact
          path: .  # Use the root directory as the artifact path

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: flask-app-artifact



  # publish:
  #   runs-on: ubuntu-latest

  #   needs: build

  #   steps:
  #     - name: Archive artifacts
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: flask-app-artifact
  #         path: .  # Use the root directory as the artifact path

  #     - name: Download artifact
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: flask-app-artifact
          

